* {
    margin: 0;
    padding: 0;
    font-family: 'Albert Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

            /* <------- Header -------> */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: white;
}

.logo {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    height: 100%;
}

.logo img {
    height: 100%;
}

header nav {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    list-style: none;
    display: inline;
}

header nav a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
}

header nav a:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.contactanos {
    width: 20%;
}

.contactanos button {
    height: 45px;
    width: 120px;
    background-color: dodgerblue;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 0 20px;
    border: none;
    border-radius: 50px;
    transition: 0.5s;
}

.contactanos button:hover {
    background-color: white;
    color: black;
    font-weight: 600;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}

            /* <------- Cierra Header -------> */  

.main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main h1 {
    width: 60%;
    font-size: 50px;
    text-align: center;
    margin: 50px 0 0 0;
    color: dodgerblue;
}

.main h2 {
    font-weight: 600;
    font-size: 20px;
}

section {
    width: 100%;
    height: 227px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 60px 0 0 0;
    background-color: white;
}

section article:nth-child(1) {
    width: 46%;
    font-size: 20px;
    font-weight: 700;
}

section article:nth-child(2) {
    width: 46%;
    font-size: 20px;
    font-weight: 700;
}

.clientes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.clientes h1 {
    margin: 40px 0;
    text-align: center;
    width: 50%;
    color: dodgerblue;
}

.reseñas {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 30px;
    box-sizing: border-box;
}

.reseñas .reseñas-box {
    background-color: dodgerblue;
    width: auto;
    height: auto;
    margin: 0 20px;
    padding: 20px;
    box-shadow: 0 0 20px black;
    border: 1px solid black;
}

.nombre {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    color: white;
}

.nombre img {
    height: 50px;
    border-radius: 50%;
    margin: 0px 20px 0px 10px;
}

.nombre h4 {
    font-size: 20px;
}

.reseña {
    height: 80%;
    width: 100%;
    box-sizing: border-box;
}

.reseña p {
    font-size: 18px;
    font-weight: 600;
}

.modelos {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 60px 0;
}

.modelos a {
    color: dodgerblue;
}



            /* <------- Footer -------> */  

footer {
    height: 80px;
}

footer nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer nav ul li {
    list-style: none;
    display: inline;
}

footer nav a {
    color: rgb(122, 122, 122);
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    padding: 10px 20px 10px 20px;
}

            /* <------- Cierra Footer -------> */  

            /* <------- Responsive -------> */

@media only screen and (max-width: 650px) {
    .main {
    padding: 60px 0;
    box-sizing: border-box;
    height: auto;
    }
    
    .main h1 {
        width: 100%;
        font-size: 25px;
    }

    .main h2 {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }

    section {
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
    }

    section article:nth-child(1) {
        width: 100%;
        text-align: center;
        margin: 0 0 20px 0;
    }

    section article:nth-child(2) {
        width: 100%;
        text-align: center;
    }

    .clientes {
        height: auto;
        padding: 80px 0;
        box-sizing: border-box;
    }

    .clientes h1 {
        width: 100%;
        align-items: center;
    }

    .reseñas {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .reseñas .reseñas-box {
        margin: 20px 0;
        width: 90%;
        height: auto;
        
    }

    .modelos h2 {
        width: 100%;
        text-align: center;
    }

    header nav a {
        font-size: 14px;
        padding: 5px;
    }

    header {
        flex-direction: column;
    }

    .contactanos {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }

    .contactanos button {
        padding: 10px;
    }

    .logo {
        margin: 90px 0 0 0;
    }

    footer {
        text-align: center;
    }

    header nav {
        width: 100%;
    }
}